特别的日子

今天是2023年7月22日，是我30岁的生日。对我来说，这是个特别的日子。不过我们这里要说的不是这个。我们要说的是另外一个特别的日子：2006年1月2日。

2006年1月2日，准确的说是GMT -7时区的2006年1月2日下午3点零4分5秒，在Go语言里有着特别的意义。之所以特别，是因为这个时刻正好在月、日、年、时、分、秒、时区这几个部分里，使用了从1到7这7个数字，没有重复。利用这个特点，Go语言用它来为时间的序列化和反序列化声明格式。

比如说，想要输出当前时间到命令行，我们可以这么写：

```go
now := time.Now()
fmt.Println(now.Format("2006-01-02 03:04:05"))
```

这里面的“2006-01-02 03:04:05”并不是真正的时间，而是声明格式的字符串。在我的电脑上，此时此刻，上面的程序会打印出“2024-07-22 11:50:20”。

如果我们想换一种格式，把格式字符串改成“15:04, Jan 2, '06”，输出就会变成“23:50, Jul 22, '24”。这次我们把时间放在了日期之前，用逗号分隔，并且使用了24小时制。日期里面也使用了英文的月份简称。

像这样，想要指定时间的格式，只需要首先手动表示出那个特殊的时间。Go语言会“依此类推”，对真正的的时间进行格式化。这有点像电子表格里面的“下拉自动填充”功能。

这种设计让格式字符串很容易书写，而且各种格式之间不容易混淆。举个例子，同样是7月，在时间字符串里，它既可以写作“7”，也可以写作“07”，又可以写作“Jul”，还可以写作"July"。要区分这几种表示方法，在Go语言里只需要分别写“1”/“01”/“Jan”/“January”就行了。所见即所得。

与此相比，一些其他的语言，比如C#，采用中规中矩的办法，用不同字母表示的声明符（specifier）来表示时间的各个部分。这样做尽管让人感觉比较严谨，但就没有那么直观易用了。如果要输出像“2024-07-22 11:50:20”这样的字符串，C#里面需要这样写：

```csharp
var now = DateTime.Now;
Console.WriteLine(now.ToString("yyyy-MM-dd hh:mm:ss"));
```

在这个系统里面，“M”表示前面不补0的月份数字（“7”），“MM”表示前面补0的月份数字（“07”），“MMM”表示月份的英文简称（“Jul”），“MMMM”表示月份的英文全称（“July”）。再加上英文里面，月份（month）和分钟（minute）的开头字母都是“m”，为了区分它们，还需要记住月份用的是大写“M”，而分钟用的是小写“m”。至少我自己每次如果不查阅文档，是很难想起来这些细节的。

Go语言的这种设计，让时间格式不但书写起来容易，理解起来也同样容易。比如下面是Go语言标准库time包提供的一些预设时间格式：

```go
const (
	Layout      = "01/02 03:04:05PM '06 -0700" // The reference time, in numerical order.
	ANSIC       = "Mon Jan _2 15:04:05 2006"
	UnixDate    = "Mon Jan _2 15:04:05 MST 2006"
	RubyDate    = "Mon Jan 02 15:04:05 -0700 2006"
	RFC822      = "02 Jan 06 15:04 MST"
	RFC822Z     = "02 Jan 06 15:04 -0700" // RFC822 with numeric zone
	RFC850      = "Monday, 02-Jan-06 15:04:05 MST"
	RFC1123     = "Mon, 02 Jan 2006 15:04:05 MST"
	RFC1123Z    = "Mon, 02 Jan 2006 15:04:05 -0700" // RFC1123 with numeric zone
	RFC3339     = "2006-01-02T15:04:05Z07:00"
	RFC3339Nano = "2006-01-02T15:04:05.999999999Z07:00"
	Kitchen     = "3:04PM"
	// Handy time stamps.
	Stamp      = "Jan _2 15:04:05"
	StampMilli = "Jan _2 15:04:05.000"
	StampMicro = "Jan _2 15:04:05.000000"
	StampNano  = "Jan _2 15:04:05.000000000"
	DateTime   = "2006-01-02 15:04:05"
	DateOnly   = "2006-01-02"
	TimeOnly   = "15:04:05"
)
```

一目了然。即便你从来没有读过RFC 3339，你也可以一眼看出来符合RFC 3339格式的时间字符串长什么样子。这些预设的格式字符串只是普通的字符串常量，它们的值会出现在代码编辑器的智能提示里面。使用的时候，当鼠标滑过，就会弹出它们的定义，非常方便。

代码是沟通的工具，举例子是沟通的窍门。

---

参考资料：

- https://pkg.go.dev/time#pkg-constants
- https://learn.microsoft.com/en-us/dotnet/standard/base-types/standard-date-and-time-format-strings